@import './variables';

.form{
  width: calc(100%/5);
  max-width: 411px;
  // height: 576px; // 70%?
  height: 100%;
  max-height: 576px; // 70%?
  margin: auto 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  background-color: $main-color;
  transition-duration: .5s;
  transform: translateX(-10%);
}
.form-init{
  &__title{
    margin: 0;
    text-align: center;
  }
  &__persons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 25%;
    height: 3em;
    margin: 1vh 2.5vw;
  }
}

.counter{
  display: flex;
  justify-content: space-between;
  label{
    line-height: 4vh;
    display: flex;
    justify-content: space-around;
  }
  &__info{
    width: 40%;
    min-width: 120px;
  }
  &__persons{
    margin: 0;
    padding: 1px 2px;
    width: 25%;
    min-width: 40px;
    max-height: 2em;
    text-align: center;
    border: none;
    background-color: transparent;
    font-weight: bold;
  }
  &__button{
    margin: auto;
    width: 100%;
    max-width: 3em;
    height: 100%;
    max-height: 3em;
  }

}