.header{
  width: 100vw;
  &__info{
    margin: 8px 0;
    background-color: rgba(223, 223, 60, 0.678);
  }
  &__login{
    margin: 8px 0 0 0;
    color: white;
    max-width: 411px;
    display: flex;
    justify-content: space-between;
  }
}

.login__sign-in{
  font-weight: bold;
  cursor: pointer;
}