html{
  height: 100vh;
}

body{
  height: 100vh;
  position: relative;
}

input{
  height: 3em;
  margin: 1vh 2.5vw;
  @media (max-width: 400px) {
    margin: .8vh 2.5vw;
    height: 2em;
  }
}
select{
  height: 3em;
  margin: 1vh 2.5vw;
  @media (max-width: 400px) {
    margin: .8vh 2.5vw;
    height: 2em;
  }
}