@import './variables';

html{
  height: 100vh;
}

body{
  height: 100vh;
  position: relative;
  color: white;
}

input{
  height: 3em;
  margin: 1vh 2.5vw;
  border: none;
  border-radius: 25px;
  background-color: $input-color;
  color: white;
  @media (max-width: 400px) {
    margin: .8vh 2.5vw;
    height: 2em;
  }
}
select{
  height: 3em;
  margin: 1vh 2.5vw;
  border: none;
  border-radius: 25px;
  background-color: $input-color;
  color: white;
  @media (max-width: 400px) {
    margin: .8vh 2.5vw;
    height: 2em;
  }
}

button{
  margin: 2px auto;
  border: none;
  background-color: $secondary-color;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  max-width: 80%;
}