.summary{
  &__title{
    margin: 8px auto;
    width: 90%;
    flex:1;
    text-align: center;
  }
  &__info{
    margin: auto;
    width: 90%;
    flex: 5;
  }
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__target{
    width: 50%;
  }
  &__operation{
    display: flex;
    justify-content: space-between;
    width: 25%;
  }
  &__sum{
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  &__user-handler{
    margin: auto;
    padding: 8px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    flex: 4;
    input{
      height: 32px;
    }
  }
}